In [3]:
import pandas as pd
import numpy as np
import os

In [5]:
student_file = "../data/processed/cleaned_student_dataset.csv"
reddit_file =  "../data/processed/cleaned_reddit_dataset.csv"

student_df = pd.read_csv(student_file)
reddit_df = pd.read_csv(reddit_file)

# MERGED HYBRID DATASET (STUDENT DATA AND REDDIT DATA)

In [9]:
import pandas as pd

# Load the cleaned Reddit dataset
reddit_clean_path = "../data/processed/cleaned_reddit_dataset.csv"
reddit_clean = pd.read_csv(reddit_clean_path)

# Ensure both datasets have consistent column names
student_df = student_df[['serialized_text', 'Depression']].rename(columns={'serialized_text': 'clean_text', 'Depression': 'binary_label'})

# Combine the Student and Reddit datasets
combined_df = pd.concat([reddit_clean, student_df[['clean_text', 'binary_label']]], ignore_index=True)

# Shuffle the dataset to mix Reddit and Student data
combined_df = combined_df.sample(frac=1).reset_index(drop=True)

# Save the combined dataset to a CSV file
combined_output_path = "../data/processed/combined_hybrid_student_reddit_data.csv"
combined_df.to_csv(combined_output_path, index=False)

# Display the first few rows of the combined dataset
combined_df.head()

   binary_label                                         clean_text
0             1  how much do you currently spend per month on y...
1             1  the first time i had my youth ahead of me.the ...
2             0                        demonyita talaga hisu nyo —
3             1  i am in a place in life where i feel so numb. ...
4             1  just took 25 pills idk if imma be here when i ...

In [27]:
combined_df["binary_label"].nunique()

2

In [29]:
combined_df = combined_df.dropna()

In [25]:
combined_df["binary_label"].value_counts()

binary_label
1    42392
0    27908
Name: count, dtype: int64

In [33]:
combined_df["binary_label"].isnull().sum()

0

In [35]:
combined_df["clean_text"][4]

'just took 25 pills idk if imma be here when i wake up and honestly i do not really care :('

In [37]:
combined_df.shape

(70299, 2)

In [39]:
combined_df.to_csv(combined_output_path, index=False)

# Display the first few rows of the combined dataset
combined_df.head()

   binary_label                                         clean_text
0             1  how much do you currently spend per month on y...
1             1  the first time i had my youth ahead of me.the ...
2             0                        demonyita talaga hisu nyo —
3             1  i am in a place in life where i feel so numb. ...
4             1  just took 25 pills idk if imma be here when i ...